<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAA1KVRHtXVbTWwvqkSjNoxHcuT1MrK_E</string>
	<key>GCM_SENDER_ID</key>
	<string>61883152270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.last</string>
	<key>PROJECT_ID</key>
	<string>last-proj-18359</string>
	<key>STORAGE_BUCKET</key>
	<string>last-proj-18359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61883152270:ios:53d2136789bf8ab9ca16df</string>
</dict>
</plist>